<div class="container-fluid">
    <app-pagetitle title="Mouvements" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <h6>Numéro de compte : 000000000000</h6>
                </div>
                <div class="col-sm-6">
                    <h6>Solde Actuel : 5236.250</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h6>Devise du compte : TND</h6>
                </div>
                <div class="col-sm-6">
                    <h6>Date du solde : 2/6/2021</h6>
                </div>
            </div>
                </div>
        </div>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-4">Mes mouvements</h4>

                <div class="table-responsive">
                    <table class="table table-centered">
                        <thead class="thead-light">
                        <tr>
                            <th>Date Operation</th>
                            <th>Libelle</th>
                            <th>No Piece</th>
                            <th>Date Valeur</th>
                            <th>Montant</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of accounts|filter:term">
                            <td>{{item.DateOperation}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.numPiece}}</td>
                            <td>{{item.Dateval}}</td>
                            <td>
                                {{item.Montant}}
                                <a *ngIf="item.type=='1'" href="javascript:void(0);" class="mr-3 text-primary" ngbTooltip="Virement"><i
                                    style="color:green;" class="mdi mdi-arrow-up-bold   font-size-24"></i></a>
                                <a *ngIf="item.type=='0'" href="javascript:void(0);" class="mr-3 text-primary" ngbTooltip="Virement"><i
                                        style="color:red;"   class="mdi mdi-arrow-down-bold   font-size-24"></i></a>
                            </td>


                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
